body {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 100%;
  
}

.container {
  display: flex;
  flex-direction: column;
  
}


.innerclassname { 
  width: 40px;
  min-height: 40px;
  
}

.otherclassname{
  width: 40px;
  min-height: 40px;
  
}
